<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680350464767-o29kvj7f601b378brunvmkfgv52peodm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680350464767-o29kvj7f601b378brunvmkfgv52peodm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>680350464767-1ipd03r00bed9s3s05f7e1r18na0gq2a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTKC3tNViQ75iGITzrIi_z-a-jUolgxxc</string>
	<key>GCM_SENDER_ID</key>
	<string>680350464767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-6f366</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-6f366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680350464767:ios:43a61aedeefb48520deaca</string>
</dict>
</plist>